#toprow * {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

#toprow p {
    margin-bottom: 0;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: black;
}

.odd   {
    background-color: #00aa32; border: 1px solid red
}

a.graphlink {
    text-decoration: underline;
    color: black;
    font-weight: normal;
    border: none;
}

#graphdiv {
    text-align: center;
}

.buttons a {
    cursor: pointer;
}
