#toprow * {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

#toprow p {
    margin-bottom: 0;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: black;
}

#graphdiv {
    text-align: center;
}

.buttons a {
    cursor: pointer;
}

.procname {
    font-weight: bold;
}

.process {
    margin-bottom: 30px;
}